<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style type="text/css">
        body {font-size:14px;}
        label {float:left; padding-right:10px;}
        .field {clear:both; text-align:right; line-height:25px;}
        .main {float:left;}
        .main{
            }
    </style>
</head>
<body>

<h1>Реєстрація </h1>
<form method="post" action="registration">
<div class="main">
    <div class="field">
        <label for="fn">First name:</label>
        <input type="text" name="fn" />
    </div>
    <div class="field">
        <label for="ln">Last name:</label>
        <input type="text" name="ln" />
    </div>
    <div class="field">
        <label for="lg">Login:</label>
        <input type="text" name="lg" />
    </div>
    <div class="field">
        <label for="ps">Password:</label>
        <input type="password" name="ps" />
    </div>
    <div class="field">
        <label for="ph">Phone number:</label>
        <input type="text" name="ph" />
    </div>
    <div class="field">
    <input type="submit" value="Send">
    </div>
</div>
</form>
</body>
</html>